@using ResourceFilesSample.Resources

@model IEnumerable<ResourceFilesSample.Web.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th style="padding: 10px">
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th style="padding: 10px">
            @Html.DisplayNameFor(model => model.Locality)
        </th>
        <th style="padding: 10px">
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th style="padding: 10px">
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th style="padding: 10px">
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
